<footer class="footer-section">
    <!-- map -->
    <div class="map-warp" id="map-canvas"></div>
    <div class="footer-bg-area set-bg" data-setbg="img/footer-bg.jpg">
      <div class="contact-form-area">
        <div class="container">
          <div class="col-lg-10 offset-lg-1">
            <div class="contact-form-warp">
              <div class="section-title">
                <i class="flaticon-026-chicken-1"></i>
                <h2>Contact us</h2>
              </div>
              <!-- contact form -->
              <form class="contact-form">
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" placeholder="Name" />
                  </div>
                  <div class="col-md-6">
                    <input type="email" placeholder="E-mail" />
                  </div>
                  <div class="col-md-12">
                    <textarea placeholder="Message"></textarea>
                    <div class="text-center">
                      <button class="site-btn">Send Message</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        All rights reserved
      </div>
    </div>
  </footer>
  <!-- Footer section end -->

  <!--====== Javascripts & Jquery ======-->
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/circle-progress.min.js"></script>
  <script src="js/main.js"></script>

  <!-- load for map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>
  <script src="js/map.js"></script>
</body>
</html>
