<header class="header-section">
    <div class="header-warp">
      <div class="site-logo">
        <h2>Pulse<span>.</span></h2>
      </div>
      <!-- responsive -->
      <div class="nav-switch">
        <i class="fa fa-bars"></i>
      </div>
      <!-- menu -->
      <ul class="main-menu">
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/about">About us</a></li>
        <li><a href="/menu">Restaurant</a></li>
        <li><a href="/blog">News</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <div class="header-right">
        <p>
          <span>Reservations</span> <i class="fa fa-phone"></i> +263 71 388
          4957
        </p>
        <br />
        <p>
          <span>Open Hours</span> <i class="fa fa-clock-o"></i> 9am - 11pm
        </p>
      </div>
    </div>
  </header>