<%- include('includes/header') -%>
  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header section -->
    <%- include('includes/nav') -%>
    <!-- Header section end -->

    <!-- Page info section -->
    <section class="page-top-info set-bg" data-setbg="img/page-top-bg/4.jpg">
      <div class="ptf-center">
        <div class="container">
          <h2>Contact<span>.</span></h2>
        </div>
      </div>
    </section>
    <!-- Page info section end -->

    <!-- Contact section -->
    <section class="contact-info-section">
      <div class="container spad">
        <div class="row">
          <div class="col-lg-5">
            <h2 class="ci-title">Contact info</h2>
            <div class="ci-item">
              <div class="ca-icon">
                <img src="img/icon/1.png" alt="" />
              </div>
              <div class="ca-text">
                 8452 Megawatt Complex, Gweru
              </div>
            </div>
            <div class="ci-item">
              <div class="ca-icon">
                <img src="img/icon/2.png" alt="" />
              </div>
              <div class="ca-text">+263 71 388 4957</div>
            </div>
            <div class="ci-item">
              <div class="ca-icon">
                <img src="img/icon/3.png" alt="" />
              </div>
              <div class="ca-text">yourmail@gmail.com</div>
            </div>
          </div>
          <div class="col-lg-3">
            <h2 class="ci-title pt-5 pt-lg-0">Reservations</h2>
            <div class="ci-item">
              <div class="ca-icon">
                <img src="img/icon/3.png" alt="" />
              </div>
              <div class="ca-text">+263 71 388 4957</div>
            </div>
            <div class="ci-item">
              <div class="ca-text pt-0">+263 71 388 4957</div>
            </div>
            <div class="ci-item">
              <div class="ca-text pt-0">
                <span>From 8 a.m. - 23:30 p.m.</span>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="social-media">
              <a href=""><i class="fa fa-pinterest"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-dribbble"></i></a>
              <a href=""><i class="fa fa-behance"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="contact-img">
          <img src="img/contact-img.jpg" alt="" />
        </div>
      </div>
    </section>
    <!-- Contact section end -->

    <!-- Footer section -->
    <%- include('includes/footer') -%>